.media.text-muted.pt-3
  = image_tag 'https://getbootstrap.com/assets/brand/bootstrap-outline.svg', width:'28', height:'28', class:'mr-2 rounded bg-purple'
  .media-body.mb-0.small.ln-125
    .d-block.text-gray-dark
      %strong
        = comment.commenter.name
      | #{comment.created_at.strftime('%B %d, %Y')}
    %p.mb-0
      = comment.content